@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.markdown h1 {
	@apply text-4xl mt-3;
}

.markdown h2 {
	@apply text-2xl mt-3;
}

.markdown h3 {
	@apply text-lg mt-3;
}

.markdown h4 {
	@apply mt-3;
}

.markdown iframe {
	@apply rounded;
}

.markdown p {
	@apply mt-3 leading-normal;
}

.markdown a {
	@apply text-blue-600;
}

.markdown a:hover {
	@apply underline;
}

.component-fade-enter-active, .component-fade-leave-active {
	transition: opacity .25s ease;
}

.component-fade-enter, .component-fade-leave-to {
	opacity: 0;
}

/* NProgress JS */
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	@apply bg-green-600;
	@apply fixed z-50 top-0 left-0 w-full h-1;
}

/* Fancy blur effect */
#nprogress .peg {
	@apply block absolute right-0 h-full opacity-100;

	width: 100px;
	box-shadow: 0 0 10px #38a169, 0 0 5px #38a169;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
		-ms-transform: rotate(3deg) translate(0px, -4px);
			transform: rotate(3deg) translate(0px, -4px);
}
