@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.markdown h1 {
	@apply text-4xl mt-3;
}

.markdown h2 {
	@apply text-2xl mt-3;
}

.markdown h3 {
	@apply text-lg mt-3;
}

.markdown h4 {
	@apply mt-3;
}

.markdown iframe {
	@apply rounded;
}

.markdown p {
	@apply mt-3 leading-normal;
}

.markdown a {
	@apply text-blue-600;
}

.markdown a:hover {
	@apply underline;
}

.component-fade-enter-active, .component-fade-leave-active {
	transition: opacity .25s ease;
}

.component-fade-enter, .component-fade-leave-to {
	opacity: 0;
}

/* EDITOR */
.editor {
	position: relative;
}

/* EDITOR MENUS */
.floating-menu-bar {
	position: absolute;
	z-index: 1;
	margin-top: -0.25rem;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
}

.floating-menu-bar.is-active {
	opacity: 1;
	visibility: visible;
}

/* EDITOR PLACEHOLDER */
.editor *:not(.ProseMirror-focused) > .is-empty:nth-child(1)::before {
	/* SEE ALSO:
	 * resources/js/components/editor/RichTextInput.vue
	 * for css that determines the content!
	 */
	@apply pointer-events-none float-left h-0 italic text-gray-500;
}

/* EDITOR CONTENT STYLES */
.ProseMirror {
	@apply text-gray-100;
}

.ProseMirror:focus {
	@apply outline-none;
}

.ProseMirror h1 {
	@apply text-4xl font-bold my-6 leading-10;
}

.ProseMirror h2 {
	@apply text-2xl font-bold my-5 leading-8;
}

.ProseMirror h3 {
	@apply text-lg font-bold my-4 leading-6;
}

.ProseMirror p {
	@apply text-lg my-2 leading-6 text-justify;
}

.ProseMirror code {
	@apply font-mono bg-gray-700 rounded px-2 py-1;
}

.ProseMirror ul {
	@apply list-disc my-4 list-outside leading-6 ml-6;
}

.ProseMirror ol {
	@apply list-decimal my-4 list-outside leading-6 ml-6;
}

.ProseMirror li p {
	@apply my-2 inline leading-6 text-justify relative ml-2;
}

.ProseMirror blockquote {
	@apply border-l-4 text-lg border-gray-700 pl-4 italic my-4 leading-6;
}

.ProseMirror blockquote p,
.ProseMirror blockquote h1,
.ProseMirror blockquote h2,
.ProseMirror blockquote h3 {
	@apply my-0;
}

.ProseMirror iframe {
	@apply my-6;
}

/* EDITOR MENTIONS */
.mention {
	@apply bg-gray-800 text-gray-200 font-bold rounded-lg px-2 py-1 whitespace-no-wrap cursor-pointer;
}
.mention:hover {
	@apply bg-gray-700 text-gray-100;
}
.mention-suggestion {
	@apply text-gray-200;
}

.tippy-box[data-theme~=dark] {
	background-color: #000;
	padding: 0;
	font-size: 1rem;
	text-align: inherit;
	color: #fff;
	border-radius: 5px;
}

/* NProgress JS */
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	@apply bg-green-600;
	@apply fixed z-50 top-0 left-0 w-full h-1;
}

/* Fancy blur effect */
#nprogress .peg {
	@apply block absolute right-0 h-full opacity-100;

	width: 100px;
	box-shadow: 0 0 10px #38a169, 0 0 5px #38a169;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
		-ms-transform: rotate(3deg) translate(0px, -4px);
			transform: rotate(3deg) translate(0px, -4px);
}
